@media only screen and (min-width: 1440px) {
  .response {
    height: 100%;
    width: 1380px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .response {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .response {
    height: 100%;
    width: 952px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .response {
    height: 100%;
    width: 728px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .response {
    height: 100%;
    width: 90%;
    margin: 0 auto;
  }
}
